body{
    letter-spacing: -1px;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 첨부파일 */
#attach { display: flex; flex-flow: column; }
#attach img {
    max-width: 260px;
    border-radius: 10px;
}

