<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.querySelector("form");
            form.addEventListener("submit", async (event) => {
                event.preventDefault(); // 기본 제출 동작 방지
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                const response = await fetch("/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email, password }),
                });

                if (response.ok) {
                    const data = await response.json(); // JSON 형식으로 응답 처리

                    // 토큰을 로컬스토리지에 저장
                    localStorage.setItem("token", data.token);
                    window.location.href = "/";
                } else {
                    alert("Login failed");
                }
            });

            document.getElementById("kakao-login").addEventListener("click", () => {
                window.location.href = "oauth2/authorization/kakao";
            })
            document.getElementById("google-login").addEventListener("click", () => {
                window.location.href = "oauth2/authorization/google";
            })
        });
    </script>
</head>
<body>
<nav th:replace="~{layout/header::header}"></nav>

<h1>Login</h1>
<form th:action="@{/api/login}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <div>
        <button type="submit" class="login-btn">Login</button>
    </div>
</form>
<a href="/signup"> 회원가입하기 </a>

<hr>

<div class="api-login-container">
    <button class="kakao-login" id="kakao-login"><img src="/img/kakao_login_large_wide.png"></button>
    <button class="google-login" id="google-login">
        <img src="https://developers.google.com/static/identity/images/g-logo.png" style="width: 20px"><span style="
    margin: 0 auto;
">Google 계정으로 로그인</span>
    </button>
</div>
</body>
</html>