@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    letter-spacing: -1px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 10px 30px;
}
header {
    display: flex;
    justify-content: center;
    font-family: Pretendard-Regular, sans-serif;
    flex-direction: column;
    padding: 52px 30px 10px;
    width: 1000px;
}

header h1 {
    font-size: 26px;
    letter-spacing: -2px;
    color: #404040;
    margin: 2px;
}

.map_wrap, .map_wrap * {
    margin:0;
    padding:0;
    font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
    font-size:12px;
}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {display:flex;position:relative;width: 1000px;height: 540px;}
#map {border-radius: 12px;border: 1px solid #cfcfcf;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:270px;padding:33px 21px;background: #FAFAFA;z-index: 2;font-size:12px;border-top-left-radius: 12px;border-bottom-left-radius: 12px;box-shadow: 1px 1px 3px gray;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;overflow: hidden;cursor: pointer;min-height: 65px; padding: 0 20px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:12px 0 10px 3px;border-bottom: 1px solid #888;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
#search-result {
    position: absolute;
    top: 62px;
    width: 268px;
    height: 200px;
    overflow-y: auto;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: #CECECE 1px solid;
    border-bottom: #CECECE 1px solid;
    border-right: #CECECE 1px solid;
    padding-top: 10px;
}
.search-form {
    display: flex;
    padding: 0 10px;
    height: 34px;
    border-radius: 8px;
    border: #CECECE 1px solid;
    background: white;
    justify-content: space-between;
    align-items: center;
}
.search-form input {
    width: 100%;
    border: none;
    background: none;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    /*background-clip: padding-box;*/
    /*border: 2px solid transparent;*/
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

.search-button {
    all: unset;
    width: 17px;
    height: 16px;
    background-image: url('../img/search_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.search-button:hover {
    filter: brightness(1.2);
}

/* 클릭 및 포커스 시 스타일 유지 */
input:focus {
    outline: none;
    background: none;
}

.infowindow-box {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D6C8BF;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.infowindow-address {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.infowindow-button {
    display: block;
    text-align: center;
    background-color: #D6C8BF;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s;
}

#map div div div div {
    border: none;
    background: none;
}


/* 의류 게시글 목록*/
.clothes-item {
    display: flex;
    border: #DADADA 1px solid;
    border-radius: 8px;
    flex-direction: column;
    width: 265px;
    height: 290px;
}
.thumbnail {
    width: 265px;
    height: 191px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}
.location {
    width: 9px;
    height: 10px;
    margin: 0 2px
}
.favorite-on, .favorite-off {
    width: 20px;
    height: 20px;
}
.clothes-address {
    color: #939393;
    font-size: 10px;
}
.clothes-title { font-size: 14px; font-weight: bold;}
.clothes-content { font-size: 12px; margin: 0 9px;}
.clothes-title-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 9px;
    border-top: #DADADA 2px solid;
}
.clothes-item div {display: flex;align-items: baseline;}
.clothes-title:hover, .clothes-content:hover, .thumbnail, .favorite-on, .favorite-off {cursor: pointer;}
