<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" href="/css/clothes/detail.css">
</head>
<body>
<div id="layout">

    <div class="clothes">
        <div class="input-container">
            <h2 id="clothes-title">제목</h2>
            <p id="clothes-date">작성일</p>
        </div>
        <div id="attach-box" class="attach-box">

        </div>
        <p id="clothes-content">내용</p>
        <div class="buttons" id="buttons" style="display: none">
            <button id="edit">수정</button>
            <button id="delete">삭제</button>
        </div>
    </div>

    <div class="comment">
        <form id="new-comment-box">
            <label>
                <input type="text" id="comment-input" placeholder="댓글을 입력하세요.">
            </label>
            <button type="submit">작성</button>
        </form>
        <div id="comment-list"></div>
    </div>
</div>


    <script src="/js/clothes/detail.js"></script>

</body>
</html>