<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" href="/css/clothes/detail.css">
</head>
<body>
<div id="layout">

    <div class="clothes">
        <div class="input-container">
            <h2 id="clothes-title">제목</h2>
            <p id="clothes-date">작성일</p>
        </div>
        <p id="clothes-content">내용</p>
        <div class="buttons">
            <button id="edit">수정하기</button>
        </div>
    </div>
</div>


    <script src="/js/clothes/detail.js"></script>

</body>
</html>