<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>의류게시글 목록</title>
    <link rel="stylesheet" href="/css/clothes/list.css">
</head>
<body>
    <h2>목록 페이지</h2>

    <div>
        <form id="search-container" class="search-container">
            <input type="text" id="search-input" class="search-input" placeholder="search">
            <button type="submit" id="search-button" class="search-button">search</button>
        </form>

        <div id="table">
            <div id="clothes-list">

            </div>
        </div>

        <div id="clothes-pagination">
            <!-- 페이지네이션 버튼 컨테이너 -->
            <div id="paginationContainer"></div>
        </div>

    </div>

<script src="/js/clothes/list.js"></script>
</body>
</html>